/**
 * @file
 * PeerJS Chat CSS Styling.
 */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.peerjs-toolbar {
  flex: 1 100%;
}

.peerjs-peers {
  flex: 1;
}

.peerjs-chat {
  flex: 3;
}

.flex-item {
  padding: 10px;
  width: 100px;
  border: 3px solid rgba(0, 0, 0, .2);
  background: #4B9433;
}

.peerjs-toolbar {
  background: #4B9433;
}

.peerjs-toolbar button {
  vertical-align: top;
  padding: 10px;
  line-height: 15px;
  background: #65ae4d;
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

.peerjs-toolbar button:hover {
  background: #7ec766;
}

.peerjs-peers {
  margin: 0 !important;
  padding: 10px !important;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.peerjs-peer {
  margin: 0 !important;
  padding: 0.5em !important;
  list-style: none;
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

.peerjs-user-picture {
  width: 20%;
  height: 1.5em;
  align-self: center;
}

.peerjs-user-picture img {
  width: auto;
  height: 1.5em;
}

.peerjs-user-name {
  width: 80%;
  height: 1.5em;
  line-height: 1.5em;
  align-self: center;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.peerjs-messages {
  padding: 0;
  margin: 0;
}

.peerjs-messages ul {
  width: auto;
  height: 200px;
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #FFFFFF;
}

.peerjs-messages > ul li {
  list-style: none;
  margin: 0.5em 1em;
  padding: 0;
}

.peerjs-messages form {
  border-top: 2px solid #4B9433;
}

.peerjs-messages input {
  width: 96%;
  padding: 0.5em 2%;
  vertical-align: top;
  border: 0;
}

.peerjs-messages button {
  display: none;
}

.peerjs-messages input:focus {
  outline: none;
}

.peerjs-calls {
  flex: 3 auto;
}

.peerjs-calls ul {
  padding: 0.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #93BF85;
  border: 2px solid #4B9433;
}

.peerjs-calls ul li {
  min-width: 100px;
  max-width: 200px;
  padding: 5px;
  margin: 5px auto;
  list-style: none;
  background-color: #4B9433;
}

.peerjs-calls ul li .caption {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  vertical-align: top;
}

.peerjs-calls video {
  width: 100%;
}
